<section class="testimonials py-16 md:py-24 px-4 md:px-8 xl:px-0">
  <div class="testimonials--content">
    <div class="flex flex-col items-center">
      <img
        src="https://s3.amazonaws.com/unode1/assets/24958/mPAwzUAWQcerPcjZi6Da_testimonail_quotation.svg"
        alt=""
      />
    </div>
    <div class="testimonials-swiper-container relative">
      <div class="swiper-wrapper text-white">
        <div class="swiper-slide flex flex-col items-center">
          <h4
            class="
              testimonial_text
              text-sm
              md:text-xl
              text-center
              mt-12
              mb-8
              xl:max-w-5xl
            "
          >
					I am a cancer survivor and 2 years ago I stepped into the MY Fitness studio and asked May if Pilates can help me achieve me lifelong dream … to conquer one of Nepal’s greatest trekking trails.  2 years later, I am now both mentally and physically strong and here I am today standing on the Himalaya trail!  Thanks so much and see you when I get back!
          </h4>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/PA6fEeB8Rx68Xy0q4Yvo_ms_nor.png"
            alt="Ms Nor"
            class="h-16 w-16 md:h-24 md:w-24"
          />
          <h3 class="font-bold text-base md:text-xl xl:text-2xl mt-2">
            Ms Nor
          </h3>
          <h4 class="text-xs md:text-sm">
            2019
          </h4>
        </div>
        <div class="swiper-slide flex flex-col items-center">
          <h4
            class="
              testimonial_text
              text-sm
              md:text-xl
              text-center
              mt-12
              mb-8
              xl:max-w-5xl
            "
          >
					My wife and I have been clients of MY FITNESS for 6 months and the results speak for themselves. We have both lost weight, gained core strength and most importantly, we feel great! I fly a lot for my business and as a result, I used to have chronic backaches. Now, with my back and core muscles toned, I fit better in my clothes!  Thanks for bringing our health back!
          </h4>
          {% if settings.page_blocks.testimonials.testimonial2_image != blank %}
          <img
            src="{{ settings.page_blocks.testimonials.testimonial2_image }}"
            alt="{{ settings.page_blocks.testimonials.testimonial2_name }}"
            class="h-16 w-16 md:h-24 md:w-24"
          />
          {% endif %}
          <h3 class="font-bold text-base md:text-xl xl:text-2xl mt-2">
            Carl and Jessie
          </h3>
          <h4 class="text-xs md:text-sm">
            2013
          </h4>
        </div>
        <div class="swiper-slide flex flex-col items-center">
          <h4
            class="
              testimonial_text
              text-sm
              md:text-xl
              text-center
              mt-12
              mb-8
              xl:max-w-5xl
            "
          >
					It was May Yang who inspired me to take up Pilates in 2004 when I attended her trial session. Over the past 10 years, I have indeed benefited a lot from this exercise. Now I am more flexible with stronger arms, lower back strength and a more toned body compared to peers of my age. Pilates classes with May are never the same routine, every class poses a new challenge to improve on. Thank you for your efforts to help me become fitter!
          </h4>
          {% if settings.page_blocks.testimonials.testimonial3_image != blank %}
          <img
            src="{{ settings.page_blocks.testimonials.testimonial3_image }}"
            alt="{{ settings.page_blocks.testimonials.testimonial3_name }}"
            class="h-16 w-16 md:h-24 md:w-24"
          />
          {% endif %}
          <h3 class="font-bold text-base md:text-xl xl:text-2xl mt-2">
            June Tan
          </h3>
          <h4 class="text-xs md:text-sm">
            2013
          </h4>
        </div>
        <div class="swiper-slide flex flex-col items-center">
          <h4
            class="
              testimonial_text
              text-sm
              md:text-xl
              text-center
              mt-12
              mb-8
              xl:max-w-5xl
            "
          >
					I have developed strength and muscle tone since becoming a client at MY FITNESS. I feel stronger and have noticed a huge difference in my posture in how I carry myself. The trainers are enjoyable to work with and have challenged me to meet my potential. It is without hesitation that I recommend My Fitness for achieving your own personal fitness goals.
          </h4>
          {% if settings.page_blocks.testimonials.testimonial4_image != blank %}
          <img
            src="{{ settings.page_blocks.testimonials.testimonial4_image }}"
            alt="{{ settings.page_blocks.testimonials.testimonial4_name }}"
            class="h-16 w-16 md:h-24 md:w-24"
          />
          {% endif %}
          <h3 class="font-bold text-base md:text-xl xl:text-2xl mt-2">
            Patti
          </h3>
          <h4 class="text-xs md:text-sm">
            2013
          </h4>
        </div>
      </div>
      <div class="swiper-button-next hidden xl:block"></div>
      <div class="swiper-button-prev hidden xl:block"></div>
    </div>
  </div>
</section>
