<div class="hero_banner">
  <div class="hero_banner--main">
    {% include 'top_menu' %}
    <div class="swiper-container overflow-x-hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="{{ settings.page_blocks.hero_banner.image1 | image_url }}"
            alt="{{ settings.page_blocks.hero_banner.image1_alt }}"
            class="w-full h-full object-cover"
          />
          <img
            src="{{ settings.page_blocks.hero_banner.logo | image_url }}"
            alt=""
            class="banner-swiper-logo right_25 absolute z-10"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="{{ settings.page_blocks.hero_banner.image2 | image_url }}"
            alt="{{ settings.page_blocks.hero_banner.image2_alt }}"
            class="w-full h-full object-cover"
          />
          <img
            src="{{ settings.page_blocks.hero_banner.logo | image_url }}"
            alt=""
            class="banner-swiper-logo absolute z-10 top_20"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="{{ settings.page_blocks.hero_banner.image3 | image_url }}"
            alt="{{ settings.page_blocks.hero_banner.image3_alt }}"
            class="w-full h-full object-cover"
          />
          <img
            src="{{ settings.page_blocks.hero_banner.logo | image_url }}"
            alt=""
            class="banner-swiper-logo absolute"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="{{ settings.page_blocks.hero_banner.image4 | image_url }}"
            alt="{{ settings.page_blocks.hero_banner.image4_alt }}"
            class="w-full h-full object-cover"
          />
          <img
            src="{{ settings.page_blocks.hero_banner.logo | image_url }}"
            alt=""
            class="banner-swiper-logo absolute z-10"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="{{ settings.page_blocks.hero_banner.image5 | image_url }}"
            alt="{{ settings.page_blocks.hero_banner.image5_alt }}"
            class="w-full h-full object-cover"
          />
          <img
            src="{{ settings.page_blocks.hero_banner.logo | image_url }}"
            alt=""
            class="banner-swiper-logo absolute z-10"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="{{ settings.page_blocks.hero_banner.image6 | image_url }}"
            alt="{{ settings.page_blocks.hero_banner.image6_alt }}"
            class="w-full h-full object-cover"
          />
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/NLbhhXYrSHueuF2fjvcN_logo_black.png"
            alt=""
            class="banner-swiper-logo absolute z-10 right_10"
          />
        </div>
      </div>
      <div class="swiper-button-next hidden md:block"></div>
      <div class="swiper-button-prev hidden md:block"></div>

      <div class="hero-progress-bar">
        <span class="slide_progress-bar"></span>
      </div>
    </div>
  </div>
</div>
