<section class="our_pricing_plan our-pricing-plan">
  <div class="container">
    <div class="our-pricing-plan--content">
      <div class="d-flex flex-column align-items-center">
        <h1 class="our-pricing-plan--title">
          {{ settings.page_blocks.our_pricing_plan.title }}
        </h1>
        <p class="our-pricing-plan--subtitle">
          {{ settings.page_blocks.our_pricing_plan.subtitle }}
        </p>
      </div>
      <div class="pricing-cards mt-16">
        <div class="pricing-card bg-white p-8">
          <h2 class="card-title">
            {{ settings.page_blocks.our_pricing_plan.card1_title }}
          </h2>
          <h3 class="card-subtitle">
            {{ settings.page_blocks.our_pricing_plan.card1_subtitle }}
          </h3>
          <div class="flex mt-8">
            <h3 class="card-currency text-2xl font-medium">
              {{ settings.page_blocks.our_pricing_plan.card1_currency }}
            </h3>
            <h2 class="card-amount leading-none">
              {{ settings.page_blocks.our_pricing_plan.card1_amount }}
            </h2>
          </div>
          <h4 class="card-save-text mb-10 ml-16 font-bold">
            {{ settings.page_blocks.our_pricing_plan.card1_save_text }}
          </h4>
          <p class="card-trial-text card-trial-text text-xl py-8 border-t-2">
            {{ settings.page_blocks.our_pricing_plan.card1_trial_text }}
          </p>
          <a
            href="{{
              settings.page_blocks.our_pricing_plan.card1_button_url | link
            }}"
            class="trial-button"
            role="button"
          >
            {{ settings.page_blocks.our_pricing_plan.card1_button_text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
