<section class="our_pricing_plan our-pricing-plan py-16">
  <div class="container">
    <div class="flex flex-col items-center">
      <h1 class="font-bold text-center text-4xl md_big_title leading-none mb-4">
        {{ settings.page_blocks.our_pricing_plan.title }}
      </h1>
      <p class="our-pricing-plan--subtitle md:text-lg text-center">
        {{ settings.page_blocks.our_pricing_plan.subtitle }}
      </p>
    </div>
    <div
      class="
        pricing-cards
        mt-8
        md:mt-12
        grid grid-cols-1
        lg:grid-cols-2
        gap-8
        md:gap-16
        justify-items-center
      "
    >
      <div class="pricing-card bg-white p-8 max-w-md lg:justify-self-end">
        <h2 class="card-title">
          {{ settings.page_blocks.our_pricing_plan.card1_title }}
        </h2>
        <h3 class="card-subtitle">
          {{ settings.page_blocks.our_pricing_plan.card1_subtitle }}
        </h3>
        <div class="flex mt-8">
          <h3 class="card-currency text-2xl font-medium">
            {{ settings.page_blocks.our_pricing_plan.card1_currency }}
          </h3>
          <h2 class="card-amount leading-none font-bold ml-2">
            {{ settings.page_blocks.our_pricing_plan.card1_amount }}
          </h2>
        </div>
        <h4 class="card-save-text ml-16 font-bold">
          {{ settings.page_blocks.our_pricing_plan.card1_save_text }}
        </h4>
        <p class="card-trial-text card-trial-text md:text-lg py-12 border-t-2">
          {{ settings.page_blocks.our_pricing_plan.card1_trial_text }}
        </p>
        <a
          href="{{
            settings.page_blocks.our_pricing_plan.card1_button_url | link
          }}"
          class="bg_primary block text-center py-4 rounded text-white font-bold"
          role="button"
        >
          {{ settings.page_blocks.our_pricing_plan.card1_button_text }}
        </a>
      </div>
      <div class="pricing-card bg-white p-8 max-w-md lg:justify-self-start">
        <h2 class="card-title">
          {{ settings.page_blocks.our_pricing_plan.card2_title }}
        </h2>
        <h3 class="card-subtitle">
          {{ settings.page_blocks.our_pricing_plan.card2_subtitle }}
        </h3>
        <div class="flex mt-8">
          <h3 class="card-currency text-2xl font-medium">
            {{ settings.page_blocks.our_pricing_plan.card2_currency }}
          </h3>
          <h2 class="card-amount leading-none font-bold ml-2">
            {{ settings.page_blocks.our_pricing_plan.card2_amount }}
          </h2>
        </div>
        <h4 class="card-save-text ml-16 font-bold">
          {{ settings.page_blocks.our_pricing_plan.card2_save_text }}
        </h4>
        <p class="card-trial-text card-trial-text md:text-lg py-12 border-t-2">
          {{ settings.page_blocks.our_pricing_plan.card2_trial_text }}
        </p>
        <a
          href="{{
            settings.page_blocks.our_pricing_plan.card2_button_url | link
          }}"
          class="bg_primary block text-center py-4 rounded text-white font-bold"
          role="button"
        >
          {{ settings.page_blocks.our_pricing_plan.card2_button_text }}
        </a>
      </div>
    </div>
  </div>
</section>
